#main-box{
    min-height: 100vh;
    width: 100vw;
    gap: 0.2rem;
}

#body {
    display: flex;
    gap: 1.2rem;
}

#body #winner{
    padding: 1.5rem;
    text-align: center;
}

#body #winner > p > span{
    padding: 0.5rem;
    font-weight: bold   ;
    border-radius: 5px;
    text-align: center;
}

#body #winner .black-player{
    background-color: #000;
    color: #fff;
}

#body #winner .white-player{
    background-color: #fff;
    color: #000;
}

#body .side-box{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--main-bg);
    border-radius: 0.5rem;
    text-align: center;
}

#body .side-box .button-box{
    display: flex;
    gap: 0.75rem;
}
#body .side-box .button-box button{
    width: 100%;
    padding: 0.7rem;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    outline: none;
    background-color: var(--main-color);
    color: var(--main-bg);
    font-weight: bold;
    cursor: pointer;
}
#body .side-box .button-box button~button {
    background-color: transparent;
    color: var(--main-color)
}
#body .side-box .button-box > button:hover {
    background-color: var(--main-bg);
    color: var(--main-color);
    opacity: 1;
}
#body .side-box .button-box > button:active {
    background-color: var(--main-bg);
    color: var(--main-color);
    opacity: 1;
}
#body .side-box .button-box > button:disabled {
    background-color: var(--main-bg);
    color: var(--main-color);
    opacity: 0.5;
    cursor: not-allowed;
}
#body .side-box .button-box > button:disabled:active {
    background-color: var(--main-bg);
    color: var(--main-color);
    opacity: 1;
}
#game-board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    gap: 1px;
    /* width: 100%; */
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--main-board-bg);
}
#game-board .cell{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and ((width < 1024px) or (height < 1024px)){
    #body{
        flex-direction: column;
    }
}
    
@media screen and ((width < 1024px) or (height < 1024px)){
    #game-board{
        grid-template-columns: repeat(8, 80px);
        grid-template-rows: repeat(8, 80px);
    }
    #game-board .cell{
        width: 80px;
        height: 80px;
    }
}
@media screen and ((width < 768px) or (height < 768px)){
    #game-board{
        grid-template-columns: repeat(8, 40px);
        grid-template-rows: repeat(8, 40px);
    }
    #game-board .cell{
        width: 40px;
        height: 40px;
    }
}


#game-board .cell:hover,
#game-board .cell.selected
{
    background-color: var(--main-bg);
}
#game-board .cell.selected{
    opacity: 0.7;
}
#game-board > div:active{
    background-color: #ddd;
}
#game-board > .game-column:nth-child(2n) > .cell:nth-child(2n+1),
#game-board > .game-column:nth-child(2n+1) > .cell:nth-child(2n){
    background-color: #fff;
}

#game-board > .game-column > div:nth-child(-n+7){
    border-bottom: 1px solid var(--main-color-opaque);
}
#game-board > .game-column:nth-child(-n+7) > div{
    border-right: 1px solid var(--main-color-opaque);
}

#game-board .cell > .piece {
    position: absolute;
    aspect-ratio: 1/1;
    width: 85%;
    transition: all 0.2s ease-in-out;
}

@media screen and (width < 1024px){
    :root{
        --piece-size: 50px;
    }
}

@media screen and (width < 768px){
    :root{
        --piece-size: 25px;
    }
}

#game-board .cell.target{
    aspect-ratio: 1/1;
    /* width: 50%; */
    background-color: bisque !important;
    /* border-radius: 50%; */
    /* opacity: 0.5; */
}

#game-board .cell>.check {
    background-color: orangered !important;
}